.alert-block {
    left: 1rem;
    position: fixed;
    top: 2rem;
    z-index: 10000;
    width: 20rem;
}

.alert {
    padding: .5rem 1rem;
    opacity: 0.9;
    margin-bottom: 0.75rem;
}

.alert:hover {
    opacity: 1;
}

@media only screen and (max-width: 425px) {
    .alert-block {
        left: 0;
        width: 90%;
        margin: 0 5%;
    }
}